# MySQL Configuration
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=dbphongkham8
MYSQL_USER=qlpk_user
MYSQL_PASSWORD=qlpk_password

# JWT Configuration
JWT_SECRET=VXNlclNlY3JldEtleUZvclBKU1Rva2VuU2lnbmluZ1RoaXMgSXMgVmVyeVNlY3VyZUtleUZvckJDUElOVFNlY3JldEtleUlOU05JSklOSU5JTkRISVNGSU5JU0hGSU5HU0hGSU5HU0hGSU5H
JWT_EXPIRATION=86400000

# VNPay Configuration
VNPAY_TMN_CODE=1YNCE3P2
VNPAY_HASH_SECRET=0JGDU4BDI99U47EJWYPQ9ND4MLO6O31J
VNPAY_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:8080/api/payment/vnpay/return